DATABASE_URL=postgresql://ticketing:ticketing@localhost:5432/ticketing
REDIS_URL=redis://localhost:6379/0
LOG_LEVEL=INFO
AWS_REGION=
AWS_SQS_QUEUE_URL=
AWS_SNS_TOPIC_ARN=

ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET_KEY=change-this-secret
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

IP_FRONT=
ENRIONMENT=development